/* CSS Reset */
body, header, nav, footer, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: SDNoise;
    src:url("fonts/SDNoise/SdnoisedemoRegular-ALKGL.ttf");
}

nav {
    text-align: center;
    background-color: #933e3e;
    padding-bottom: 0.5em;
}

nav li {
    display: inline-block;
}

nav li a {
    padding: 1em 4em;
    color: #0c0f0d;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}

nav li a:hover {
    background-color: #595656;
    color: #f20505;
}

img {
    height: 380px;
}

h1 {
    font-family: SDNoise, sans-serif;
    text-align: center;
}

#self-portrait img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#self-portrait figcaption {
    text-align: center;
}

footer p {
    padding-top: 8em;
    text-align: center;
}

