/* CSS Reset */
body, header, nav, footer, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: SDNoise;
    src:
        local(SDNoise),
        url("../fonts/SDNoise/SdnoisedemoRegular-ALKGL.ttf") format("truetype"),
        url("../fonts/SDNoise/Sdnoisedemo-DOwLW.otf") format("opentype");
}

nav {
    text-align: center;
    background-color: #933e3e;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-bottom: 25px;
}

nav li {
    display: inline-block;
}

nav li a {
    padding: 1em 4em;
    color: #0c0f0d;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14pt;
    font-style: bold;
}

nav li a:hover {
    background-color: #595656;
    color: #f20505;
}

body {
    min-height: 100vh;
}

img {
    height: 380px;
    border: solid #933e3e 2px;
}

h1 {
    font-family: SDNoise, sans-serif;
    text-align: center;
}

#self-portrait img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#self-portrait figcaption {
    text-align: center;
}

footer p {
    padding-top: 8em;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #0c0f0d;
}

#landing-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0px 200px;
}

#landing-gallery img[src="images/Facade.jpg"] {
    width: 500px;
}

#about-main {
    margin: 0 500px;
    text-align: justify;
}

#hobbies-gallery {
    margin: 0 350px;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

figure {
    text-align: center;
}

figcaption {
    color: white;
}

.button {
    text-align: center;
    text-decoration: none;
    background-color: #0c0f0d;
    color: white;
    padding: 10px;
    transition-duration: .4s;
    border-radius: .25em;
    margin: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    background-color: #f20505;
    color: #0c0f0d;
}

html {
    background-image: linear-gradient(#0C0F0D, #43515C);
}

p {
    font-family: Lato, sans-serif;
    color: white;
}

h1 {
    color: #f20505;
}